<a class="btn btn-primary btn-primary" type="button" data-toggle="collapse" data-target="#collapseCreateBlogPostForm" aria-expanded="false" aria-controls="collapseCreateBlogPostForm">
  Write new post
</a>

<!--TODO: Move outside of this file-->
<br>
<div class="collapse" id="collapseCreateBlogPostForm">
  <br>
  <!--<form name="createNewPostForm" ng-submit="blogPostsCtrl.createPostTest()" enctype="multipart/form-data" method="post">-->
  <form name="createNewPostForm" enctype="multipart/form-data" method="post">
  <!--<form name="createNewPostForm">-->
    <fieldset class="form-group">
      <input ng-model="blogPostsCtrl.newPost.title" type="text" class="form-control" placeholder="Enter a title for the post." title="PostTitle" />
    </fieldset>
    <fieldset class="form-group">
      <textarea ng-model="blogPostsCtrl.newPost.content" class="form-control" placeholder="Write content here! There is a 160 character limit." title="PostContent" maxlength="160"></textarea>
    </fieldset>
    <fieldset class="form-group">
      <input type="file" name="file" accept="image/*" ng-model="blogPostsCtrl.picture">
    </fieldset>
    <fieldset class="form-group">
      <input type="submit" ng-click="blogPostsCtrl.createPostTest()" class="btn btn-primary pull-right" value="Post!" />
    </fieldset>
  </form>
</div>
<br>

<!--List of Posts-->
<ul>
  <li ng-repeat="post in posts | orderBy: '-lastEdited'">
    <a ng-href="{{ '#/blogs/' + blogPostsCtrl.blogName + '/posts/' + post._id }}"> {{ post.title }} - {{ post.lastEdited |  date:'yyyy-MM-dd' }}</a>
    <a ng-click="blogPostsCtrl.removePost(post._id)">
      <span class="glyphicon glyphicon-remove" aria-hidden="true" style="margin-right:7px; margin-top:2px"></span>
    </a>
  </li>
</ul>
