<div>
  <a href="#" class="btn btn-primary btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Create new blog
  </a>
  <br>
  <div class="collapse" id="collapseExample">
    <br>
    <form name="reviewForm" ng-submit="mainCtrl.createBlog()">
      <fieldset class="form-group">
        <input ng-model="mainCtrl.newBlog.name" type="text" class="form-control" placeholder="Enter a name for the blog." title="BlogName" />
      </fieldset>
      <fieldset class="form-group">
        <textarea ng-model="mainCtrl.newBlog.body" class="form-control" placeholder="Write a short description of the blog." title="BlogDescription"></textarea>
      </fieldset>
      <fieldset class="form-group">
        <input ng-model="mainCtrl.newBlog.author" type="text" class="form-control" placeholder="Enter your name." title="BlogAuthor" />
      </fieldset>
      <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Create!" />
      </fieldset>
    </form>
  </div>

  <br>
  <ul class="list-group">
    <li ng-repeat="blog in blogs" class="list-group-item">
      <span class="badge">{{ blog.posts.length }}</span>
      <a ng-href="{{ '#/blogs/' + blog.name + '/posts' }}">
        {{ blog.name }}
      </a>
    </li>
  </ul>
</div>
