<div>
  <a href="#" class="btn btn-primary btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Create new blog
  </a>

  <div class="collapse" id="collapseExample">
    <form name="reviewForm">
      <fieldset class="form-group">
        <input ng-model="newBlog.name" type="text" class="form-control" placeholder="Enter a name for the blog." title="BlogName" />
      </fieldset>
      <fieldset class="form-group">
        <textarea ng-model="newBlog.body" class="form-control" placeholder="Write a short description of the blog." title="BlogDescription"></textarea>
      </fieldset>
      <fieldset class="form-group">
        <input ng-model="newBlog.author" type="text" class="form-control" placeholder="Enter your name." title="BlogAuthor" />
      </fieldset>
      <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Create!" />
      </fieldset>
    </form>
  </div>

  <ul>
    <li ng-repeat="blog in blogs">
      {{ blog.name }}
      {{ blog.posts.length }}
    </li>
  </ul>
  {{ main.count }}
</div>
